.slogan {
    padding-left: 20px;
    margin-left: 20px;
    border-left: 1px solid #494949;
}

mat-list-item.mat-list-item.mat-2-line {
    border-bottom: 1px solid #e3e3e3;
}

mat-list-item {
    transition: background .5s ease;
}

mat-list-item:hover {
    background: #e3e3e3
}

.mat-list-text {
    width: fit-content !important;
}

.removeButton {
    padding: 0 !important;
    min-width: auto;
    position: absolute;
    right: 30px;
}